body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter h3{
  color: blue ;
  display: flex;
  justify-content: center;
}
